<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-home"></span>
                 Home
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <% if (user){ %>
                    <li><a>Welcome, <%= user.username%>
                    <li><a href="/logout"> Log Out</a></li>
                <% } else { %>
                    <li><a href="/login">Log in</a></li>
                <% } %>
        </ul>
    </div>
</nav>