html {
	min-width: 800px;
}

header {
	background-color: #efefef;
}
body {
	width: 100%;
	background-color: #5784ae;
}

nav {
}

.landing {
	background-color: #eef3f0;
	border-radius: 5px;
	padding: 5px;
	max-width: 1000px;
}

.landingItem {
    max-height: 70px;
    border: 1px solid black;
    margin-top: 5px;
    font-size: 2rem;
    background-color: #d4d4d5; 
    padding-left: 8px;
}

.landingItem > div > div > h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.landingItem > div > div > p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 2px;
    overflow: hidden;
    color: green;
}

.subIcon {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 50px;
	height: 50px;
}

#signupForm {
	height: 400px;
	font-size: 1.5rem;
	width: 60%;
	margin-left: 20%;
	background-color: #eef3f0;
	border-radius: 5px;
	padding: 10px;
}

#signupForm > label {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 18px;
}

form > input {
	width: 100%;
}
.submit {
	width: 30%;
	height: 45px;
	margin-left: 35%;
	margin-right: auto;
	background-color: #65bb45;
	border: 1px solid #4b8c33;
	border-radius: 5px;
	color: white
}

#loginForm {
    height: 400px;
    font-size: 1.5rem;
    width: 60%;
    margin-left: 20%;
    background-color: #eef3f0;
    border-radius: 5px;
    padding: 10px;
}

#loginBanner {
    margin-left: 10%;
    height: 200px;
    width: 80%;
    text-align: center;
}

.postTitle {
	width: 96%;
	max-width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}

.postWindow {
	width: 96%;
	max-width: 96%;
	max-height: 300px;
	margin-left: 2%;
	margin-right: 2%;
}

.replyContainer {
	background-color: grey;
	margin-top: 10px;
	padding-left: 5%;
	padding-right: 5%;
}

.postItem {
    height: 250px;
    border: 1px solid black;
    margin-bottom: 5px;
    font-size: 2rem;
    background-color: #d4d4d5; 
    padding: 10px;
}


.postUser {
	padding: 5px;
	overflow: hidden;
	text-align: center;
	float:left;
	display: inline-block;
	background-color: #eee;
	border: 1px solid black;
}

.postContents {
	width: 86%;
	float: right;
	display: inline-block;
	background-color: #eee;
	border: 1px solid black;
	height: 100%;
}

.postContents > .a {
	height: 30px;
	padding-left: 5px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	background-color: #708090;
}

.postContents > .b {
	overflow: scroll;
	word-wrap: break-word;
	padding: 5px;
	height: 85%;
}

.profilePicture {
	margin-left: auto;
	margin-left: auto;
	width: 80px;
	height: 80px;
}


.replyWindow {
	width: 90%;
	max-width: 90%;
	max-height: 300px;
	margin-left: 5%;
	margin-right: auto;
}
