<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">
				<!-- CREATE NEW THREAD WITHIN SUBFORUM -->
				<h2>Create New Thread</h2>
				<!-- #TODO - properly define action="/" && redirect to subforum on post-->
				<form method="POST" action="./" id="">
					<label>Title: </label> <br>
					<input type="text" name="title" class="postTitle" pattern=".{5,25}" required> <br>
					<label>Write stuff here: </label> <br>
					<textarea  type="type" name="post" class="postWindow" required rows="10"></textarea>  
					<br>
					<br>
					<input type="submit" name="submit" class="submit">
				</form>
			</div>
		</div>
	</body>
</html>