<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<form action = '/' method = 'POST' id="loginForm">
					<img id="loginBanner" src="http://img1.123freevectors.com/wp-content/uploads/symbol_banners_big/044_Free_Vector_Banners.png"><br>
				<label>Username: </label> <br>
				<input id="username" name="username" type="text" autofocus maxlength="18" required> <br>
				<label>Password: </label> <br>
				<input id="password" name="password" type="password" required> <br>
				<br>
				<input class="submit" type="submit">
			</form>
		</div>
	</body>
</html>