<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<form action="POST" id="signupForm">
				<label>Username:</label><br>
				<input type="text" id="username" autocomplete="off">
				<br>
				<label>Password:</label><br>
				<input type="password" id="password" autocomplete="off">
				<br>
				<label>Confirm Password:</label><br>
				<input type="password" id="passwordConfirm" autocomplete="off">
				<br>
				<label>E-mail:</label><br>
				<input type="email" id="email" autocomplete="off">
				<br><br>
				<input type="submit" id="signupSubmit">
			</form>
		</div>
	</body>
</html>