<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>  
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">
				<h1><%= title %></h1>
				<p>Welcome to <%= title %></p>
			</div>
		</div>
	</body>
</html>