<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>  
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">

				<h2><%= name%></h2>

			</div>
		</div>
	</body>
</html>