<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">
				
				<% threads.forEach(function(threads){ %> 
					<% if (threads.thread_id == name) { %>
						<div class="landingItem">
							<p>
								<%= threads.post_html; %>
							</p>
						</div>
				<% }}); %>
			</div>
		</div>
	</body>
</html>