<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">
				<h1></h1>
				<p>Welcome to</p>
			</div>
		</div>
	</body>
</html>