<!DOCTYPE html>
<html>
	<head>
		<title><% include ../partials/head %></title>
	</head>
	<body>
		<% include ../partials/header %>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
	</body>
</html>